* {
    justify-content: center;
}

:root {
    --speed: 5;
}

.machine {
    background-color: rgb(90, 51, 12);
    border: dashed rgb(97, 187, 14) 3px;
    height: 300px;
    width: 900px;
    margin: 50px;
    z-index: 5;
    display: flex;
}

#inpSpeed {
    font-size: 30pt;
    margin-left: 30px;
    width: 50px;
}

.slot {
    height: 250px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(200, 200, 164);
    border: solid darkblue 2px;
    text-align: center;
    font-size: 100pt;
    line-height: 250px;
}

.slot>.value {
    z-index: 3;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s / var(--speed));
}

#speed {
    font-size: 26px;
}

button {
    margin: 10px;
    height: 50px;
    width: 150px;
    color: aqua;
    background-color: brown;
}

marquee {
    padding: 120px 120px;
    bottom: 0;
}

#inpSpeed {
    margin: 10px;
    width: 60px;
}

@keyframes slotspin {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(200px);
    }
}